/* src/App.css or a new stylesheet */
.error {
  border: 1px solid red;
}
.pp1{
  display: flex;
  justify-content: center;
}
form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
